<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - TestAplication</title>
  <script type="importmap"></script>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/TestAplication.styles.css" asp-append-version="true" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestAplication</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link text-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  RRHH
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" asp-controller="Empresas" asp-action="Index">Empresas</a></li>
                  <li><a class="dropdown-item" asp-controller="Sucursales" asp-action="Index">Sucursales</a>
                  </li>
                  <li><a class="dropdown-item" asp-controller="Colaboradores" asp-action="Index">Empleados</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link text-dark dropdown-toggle" type="button" id="dropdownMenuButton2"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Cargas
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                  <li>
                    <a class="dropdown-item" asp-area="" asp-controller="CargaSucursal" asp-action="New">Cargar <i
                        class="fas fa-cloud-upload-alt"></i></a>
                  </li>
                  <li><a class="dropdown-item" asp-area="" asp-controller="HistorialCarga" asp-action="Index">Historial
                      de carga <i class="fas fa-history"></i></a> </li>
                  <li><a class="dropdown-item" href="#">Reporte General<i class="fas fa-th-list"></i></a> </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container mt-3">
    @if (TempData["Success"] != null)
    {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      @TempData["Success"]
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
    @if (TempData["Error"] != null)
    {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      @TempData["Error"]
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
  </div>
  <div class="container" style="height: 100vh;">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2025 - TestAplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
